RESEND_API_KEY=
SENDER_EMAIL=
RECEIVER_EMAIL=

NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production

SUPABASE_DATABASE_PASSWORD=
SUPABASE_URL=
SUPABASE_API_KEY=
SUPABASE_SECRET_KEY=

VOYAGE_API_KEY=